* {
    /*margin-top:0;margin-bottpm:0;margin-left:0;margin-right:0;*/
    padding: 0;
box-sizing: content-box;
}
.section {
    width: 80%;
    background-color:blueviolet;
    border-radius: 20px;
    margin: 20px auto;
    padding: 40px;
}
img {
    width: 130px;
    height: 130px;
    position: absolute;
    left: 80%;
    margin-top: -110px;
    border: 5px solid black;
  }