*{
    margin:0%;
    padding:0%;
}



.cor .fundo{
background-color: aquamarine;
with: 50%;

h2 {
    display: inline;
}
p{
    display: inline;
} 
}

.item{
    width: 100px;
    height: 100px;
}
.item-1 {background-color: chartreuse;}
.item-1 {background-color: darkviolet;}
.item-1 {background-color:lightblue;}