body {
    background-image: url(https://i.pinimg.com/736x/99/a5/13/99a513baf777e9fe554465a207e738c8.jpg);

}
   

body, h1, p {
    margin: 0;
    padding: 0;
      }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #3ba726;
    color: #FFF;
    padding: 10px;
    text-align: center;
  }
  
  main {
    text-align: center;
     }
  
  .logo {
    max-width: 100%;
    animation: shake 5s ease-in 1;  
    position: absolute; 
    top: 25%;
    left:40%;
    
  }
  
  
  

  @keyframes shake {
    0% {
           transform: rotate(0);
           top: 0;
           left: 100%;
               }
    100% 
    {
      top: 25%;
      left: 40%;
      transform: rotate(360deg);
      
    }
  }
  
  footer {
    text-align: center;
    padding: 10px;
    color: rgb(5, 4, 4);
    animation: shake 5s ease-in 1;  
    position: absolute; 
    top: 85%;
    left:40%;

  }